h2{
	color:blue;
	font-family: 'Goldman', cursive;
	display: block;
	text-align: center;
}\
h1{
	font-size: 3em;
	font-family: 'Goldman', cursive;
	display: block;
	text-align: center;
}
p {
	font-family: 'Goldman', cursive;
	display: block;
	text-align: center;
}

.logo {
	margin: 0 auto;
	display:block;
}

nav ul{
	text-align:center;
	padding: 10px;
}

nav li {
	display: inline;
	background-color: #c6c6c6;
	padding: 8px 10px;
	border-radius: 3px;
}
nav li:hover {
	background-color: #dddddd;
}
nav {
	background-color: #efefef;
	background: rgb(0,0,0);
background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

footer {
	display: block;
	text-align: center;
	padding: 50px;
}
h5{
	font-size: 2em;
	font-family: 'Goldman', cursive;
}



/*  CSS for Tablets  */
@media only screen and (max-width: 1024px){
	h1{
	font-size: 1.8em;
	}

}

/*  CSS for Smartphones  */
@media only screen and (max-width: 768px){
	h1{
	font-size: 1.5em;
	}
}


.column {
  float: left;
  width: 32.75%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

